.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}

.container {
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
  max-width: 1800px;
  height: 100%;
}

.card-sm {
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid lightgrey;
}

.card-lg {
  border-radius: 10px;
}

.fa-heart {
  position: absolute;
  right: 0;
  top: 0;
}
.card-image {
  position: relative;
}

.nav-active {
  height: 85px !important;
  box-shadow: 2px 2px 3px rgba(100, 100, 111, 0.2),
    -2px 2px 3px rgba(100, 100, 111, 0.2);
}

@media (max-width: 1920px) {
  .main .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1600px) {
  .main .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1368px) {
  .main .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1100px) {
  .main .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .navbar .search-nav {
    margin-left: 30px !important;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .navbar__icons .small_search_nav {
    padding: 20px 40px 0 40px;
  }
}
@media (max-width: 950px) {
  .main .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .navbar__icons .navbar {
    display: none;
  }
  .navbar__icons .small_search_nav {
    display: block !important;
    padding: 20px 24px 0 24px !important;
  }
  .navbar__icons .filter-btn {
    display: none;
  }
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    display: none;
  }
  .footer-sm-parent {
    display: block !important;
  }
}
@media (max-width: 590px) {
  .main .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
